html {
	font-family: verdana, sans-serif;
}
body {
	background: url("../IMG/mal2.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-position-y: 2.5em;
	background-color: lightgrey;
	position: center;
}
h1 {
	text-align: center;
}
h6{
	margin:0;
	font-size: 0.7em;
	color:grey;
}
a.discret,a.discret:visited{
	font-size: 0.8em;
	color:grey;
}
nav {
	background-color: rgb(25, 25, 25);
	border: purple 0.1em solid;
	position: center;
	height: 2em;
	width: 758px;
	margin-top: 0px;
	margin: auto;
}
a,a:visited,a:active{
	color: white;
	font-size: 1.5em;
	margin: 0em 0.5em 0em 0.5em;
}
a:hover{
	color: purple;
}
.remove, #field{
	border: purple 0.1em solid;
	background-color: rgb(25, 25, 25);
	text-align: center;
	position: relative;
	margin: auto;
	width: 758px;
	color: white;
}
.inscription{
	float: right;
}
.connexion{
	float: right;
}
.ajout{
	border: purple 0.1em solid;
	background-color: rgb(25, 25, 25);
	text-align: center;
	position: relative;
	margin: auto;
	width: 758px;
	margin-top: 15.9em;
	color: white;
}
.form{
	float: right;
}
table{
	margin: auto;
	margin-top: 0em;
	border: purple 0.2em solid;
	background-color: rgb(25, 25, 25);
	color: white;
	width: 762px;
	border-collapse: collapse;
}
th{
	font-weight: bold;
	border: purple 0.1em solid;
}
td{
	border: purple 0.1em solid;
	padding-left: 0.2em;
}
div{
	background-color: rgb(25, 25, 25);
}
div#wrapper{
	text-align: center;
	border: purple 0.1em solid;
	margin: auto;
	margin-top: 15.9em;
	width: 758px;
	color: white;
}
div#content{
	text-align: center;
	margin: auto;
	margin-top: 15.9em;
	width: 762px;
	color: white;
}
div#loginInfo{
	width: 20em;
	float: right;

}
.wrapper{
	width: 762px;
	margin-left: auto;
	margin-right: auto;

	border: purple 0.1em solid;
	background-color: rgb(25, 25, 25);
}
.erreur{
	color: red;
}
label {
	margin-top:10px;
	display:block;
}
input[type=submit] {
	margin-top: 10px;
	margin-left: 20px;
	background: black;
	color: white;
	height: 30px;
	width: auto;
	font: bold 15px arial, sans-serif;
	text-shadow:none;
	border-radius: 5px;
}